body {
  background-color: black;
  color: white;
  font-family: Garamond, "Times New Roman";
}

img {
  height: 21em;
  width: 14em;
  padding: 0.5em;
  border-left:  thin solid #ff0000;
  border-right: thin solid #ff0000;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

a {
  color: #ff0000;
}

a:hover {
  color: #ff0000;
}

a:focus {
  color: #A80707;
}

.selected {
  color: #A80707 !important;
  text-decoration: underline;
}

.btn {
  margin-top: 1em;
  background-color: #ff0000;
  border-color: #ff0000;
  color: black;
  font-size: 1.5em;
}

.name {
  color: white;
}

.description {
  display: none;
}

.contentsHeader {
  margin-top: 0em;
}

.verticalCenter {
  display: flex;
  align-items: center;
}

.buffer {
  margin-top: 2em;
  margin-bottom: 2em;
}

.halfBuffer {
  margin-top: 1em;
  margin-bottom: 1em;
}

.leftAlign {
  text-align: left;
}

.rightAlign {
  text-align: right;
}

.issueContainer {
  margin-left: 1em;
}

.leftBorder {
  border-left: medium solid #ff0000;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 2em;
}

.center {
  text-align: center;
}

#titleGroup {
  position: relative;
  text-align: center;
}

#title {
  font-size: 20em;
  margin: .2em;
  margin-bottom: 0;
  line-height: 0.7em;
}

#subTitle {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 1.333em;
  margin-left: 0.5em;
}

.issueNumber {
  font-size: 4em;
  line-height: 0.7em;
}

.nav-tabs > li > a {
  color: white;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
  color: black;
  background-color: red;
  border-color: red;
}

.nav-tabs > li > a:hover {
  color: black;
  background-color: maroon;
  border-color: maroon;
}

.nav-tabs {
  border-bottom: 1px solid red;
}

.tabText {
  font-size: 2.5em;
}

.tab-content > div > div {
  margin-left: 1em;
}
